<%- include('./partials/header') %>

<% user.savedDogs.forEach(function (d) { %>
<div id="main">
    <div class="card">
        <img src="<%=d.petfinder.pet.photos.photo[2].$t%>" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%=d.petfinder.pet.name.$t%></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <%})%>
    <div id="dog-grid">
        <div class="dog-grid-card" style="background: url()">
            <img src="https://barkforce.com/wp-content/uploads/2017/09/fb-adoption.jpg">
            <div class="dog-grid-card-details">
                <h3>Name</h3>
                <h3>Age</h3>
                <h3>M/F</h3>
                <a href="#">More Details</a>
            </div>
        </div>
        <div class="dog-grid-card" style="background: url()">
            <img src="https://barkforce.com/wp-content/uploads/2017/09/fb-adoption.jpg">
            <div class="dog-grid-card-details">
                <h3>Name</h3>
                <h3>Age</h3>
                <h3>M/F</h3>
                <a href="#">More Details</a>
            </div>
         </div>
        <div class="dog-grid-card" style="background: url()">
            <img src="https://barkforce.com/wp-content/uploads/2017/09/fb-adoption.jpg">
            <div class="dog-grid-card-details">
                <h3>Name</h3>
                <h3>Age</h3>
                <h3>M/F</h3>
                <a href="#">More Details</a>
            </div>
         </div>
        <div class="dog-grid-card" style="background: url()">
            <img src="https://barkforce.com/wp-content/uploads/2017/09/fb-adoption.jpg">
            <div class="dog-grid-card-details">
                <h3>Name</h3>
                <h3>Age</h3>
                <h3>M/F</h3>
                <a href="#">More Details</a>
            </div>
         </div>
    </div>
</div>

<%- include('./partials/footer') %>
