<%- include('./partials/header') %>

<div id="main">
    <div id="dog-grid">
        <div class="dog-grid-card" style="background: url()">
            <img src="https://barkforce.com/wp-content/uploads/2017/09/fb-adoption.jpg">
            <div class="dog-grid-card-details">
                <h3>Name</h3>
                <h3>Age</h3>
                <h3>M/F</h3>
                <a href="#">More Details</a>
            </div>
        </div>
        <div class="dog-grid-card" style="background: url()">
            <img src="https://barkforce.com/wp-content/uploads/2017/09/fb-adoption.jpg">
            <div class="dog-grid-card-details">
                <h3>Name</h3>
                <h3>Age</h3>
                <h3>M/F</h3>
                <a href="#">More Details</a>
            </div>
         </div>
        <div class="dog-grid-card" style="background: url()">
            <img src="https://barkforce.com/wp-content/uploads/2017/09/fb-adoption.jpg">
            <div class="dog-grid-card-details">
                <h3>Name</h3>
                <h3>Age</h3>
                <h3>M/F</h3>
                <a href="#">More Details</a>
            </div>
         </div>
        <div class="dog-grid-card" style="background: url()">
            <img src="https://barkforce.com/wp-content/uploads/2017/09/fb-adoption.jpg">
            <div class="dog-grid-card-details">
                <h3>Name</h3>
                <h3>Age</h3>
                <h3>M/F</h3>
                <a href="#">More Details</a>
            </div>
         </div>
    </div>
</div>

<%- include('./partials/footer') %>
