.logo {
  height: 50px;
}

ul {
  padding-left: 0px;
}

#no-yes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.saved-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  transition: margin-left .5s;
  padding: 10px;
}

.index-main {
  align-items: cetner;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2A2D3F; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.index-body {
  border: none;
}
.card {
  width: 300px;
  margin-top: 20px;
}

.card-img-top {
  width: 150px;
}
.card-body {
  width: 300px;
  padding: 10px;
}
.card-header {
  width: 100%;
  margin-bottom: 10px;
}

ul {
  padding-left: 0px;
}
.card-link {
  float: right;
}

header {
  background-color: #5b618A;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  color: white;
  padding: 20px;
}
.nav-button{
  float: left;
}
html {
  width: 100vw;
}

footer {
  margin: 10px 0 0 0;
  padding: 20px;
  background-color: #2A2D3F;
  height: 50px

}

#random-dog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}

#main-deets {
  float: right;
  color: #5B507A;
}
.deets {
  color: #5B507A;
}
h1, h3, h5 {
  color: #2A2D3F;
}


li {
  color: #2A2D3F;
}
.btn-primary {
  background-color: #5B507A;
}

.saved-dog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.saved-dog > img {
  width: 150px;
}

@media screen and (min-width: 576px) {
  #random-dog {
    width: 500px;
  }
  #random-dog > img {
    width: 300px;
  }
}