

ul {
  padding-left: 0px;
}

.no-yes {
  display: inline;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: margin-left .5s;
  padding: 20px;
  text-align: center;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2A2D3F; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
body * {
  border: none;
}
.card {
  width: 300px;
  margin-top: 20px;
}

.card-img-top {
  width: 200px;
}
.card-body {
  width: 300px;
}

ul {
  padding-left: 0px;
}
.card-link {
  float: right;
}

header {
  background-color: #5b618A;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  color: white;
}
.nav-button{
  float: left;
}
html {
  width: 100vw;
}

footer {
  margin: 10px 0 0 0;
  padding: 20px;
  background-color: #2A2D3F;
  height: 100px

}
#main-deets {
  float: right;
  color: #5B507A;
}
.deets {
  color: #5B507A;
}
h1, h3, h5 {
  color: #2A2D3F;
}


li {
  color: #2A2D3F;
}

@media screen and (max-width: 600px) {
  
}