html {
  height: 100%;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


footer {
  background-color: gray;
  margin-bottom: 0;
  margin: auto;
  position: fixed;
  height: 100px;
  width: 100%;
}

.dog-card {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 500px;
  background: white;
  width: 600px;
}

.dog-card img {
  max-height: 300px;
}

#dog-details {
  width: 80%;
  text-align: left;
  max-width: 600px;
}

#dog-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dog-grid-card > img {
    object-fit: cover;
    width:150px;
    height:150px;
}
.dog-grid-card-details {
  text-align: left;
}

.dog-grid-card { 
  transition: opacity 1s;
  display: inline;
}

.dog-grid-card:hover {
  opacity: 0.5;
}


.dog-grid-card > img {
  width: 70%;
  height: 70%;
}

.dog-grid-card > a {
  float: right;
}

.dog-grid-card {
  width: 300px;
  height: 300px;
  border: 1px solid red;
  margin: 30px;
  padding: 20px;
  text-align: center;
}

#no-yes {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} 

#no-yes > img {
  width: 96px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: lightcyan;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  #no-yes { width: 200px }
  #no-yes > img { width: 50px;}
  .dog-card { width: 300px}
  .dog-card > img { width: 200px; }
}