<%- include('../partials/header') %>

<div class="card-group container">
<% savedDogs.forEach(function (d) { %>
    <div class="card">
        <img class="card-img-top" src="<%=d.photo%>">
        <div class="card-body">
            <h5 class="card-title"><%=d.name%></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
<%})%>
</div> 

<%- include('../partials/footer') %>
